@model List<KullaniciModel>

@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<style>
    body {
        background-color: #f0f8ff; /* Açık mavi arkaplan rengi */
    }

    .container {
        margin-top: 50px;
    }

    .card {
        background-color: #fff; /* Beyaz kart arkaplan rengi */
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Gölgeli efekt */
        padding: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    h1 {
        color: #333; /* Başlık rengi */
        font-size: 36px; /* Başlık font büyüklüğü */
        margin-bottom: 30px;
    }

    /* Tablo Tasarımı */
    .table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2; /* Gri arkaplan rengi */
        }

    /* İkon Renkleri */
    .text-success {
        color: #28a745; /* Yeşil */
    }

    .text-danger {
        color: #dc3545; /* Kırmızı */
    }

    /* Buton Tasarımı */
    .btn-sm {
        font-size: 14px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <!-- Kullanıcı Listesi Kısmı -->
            <div class="card shadow">
                <h1>@ViewData["Title"]</h1>
                <div class="row mb-3">
                    <div class="col">
                        <a asp-action="Olustur" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Yeni Kullanıcı Ekle</a>
                    </div>
                </div>

                @if (Model != null && Model.Any())
                {
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Ad Soyad:</th>
                                <th>Kullanıcı Adı</th>
                                @*<th>Kilit</th>*@
                                <th>Rol</th>
                                <th>Oluşturma Tarihi Ve Saati</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KullaniciModel user in Model)
                            {
                                <tr>
                                    <td>@user.AdSoyad</td>
                                    <td>@user.KullaniciAdi</td>
                                   @* <td>
                                        @if (user.Locked)
                                        {
                                            <i class="fa fa-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times text-danger"></i>
                                        }
                                    </td>*@
                                    <td>@user.Role</td>
                                    <td>@user.CreateAt</td>
                                    <td class="text-end">
                                        <a asp-action="Duzenle" asp-route-id="@user.Id" class="btn btn-info btn-sm text-white"><i class="fa fa-edit me-2"></i>Düzenle</a>
                                        <a asp-action="Kaldir" asp-route-id="@user.Id" onclick="return confirm('Silmek İstediğinize Emin Misiniz @user.KullaniciAdi')" class="btn btn-info btn-sm"><i class="fa fa-trash me-2"></i>Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="message-box">
                        <p class="error-message">Henüz kullanıcı bulunmamaktadır.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
